body {
    font-family: Arial, sans-serif;
    margin: 40px;
    line-height: 1.6;
  }
  
  .right-align {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .left-align {
    text-align: left;
    margin-top: 20px;
  }
  
  h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  p {
    margin: 5px 0;
  }
  
  i {
    font-style: italic;
  }
  
  ul {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  ul li {
    margin-left: 20px;
  }
  
  a {
    color: blue;
    text-decoration: underline;
  }
  
  a:hover {
    text-decoration: none;
  }